.navbar {
    background: hsl(213deg 85% 97%);
    padding: 1em 2em;
    display: flex;
    justify-content: flex-end;
  }
  
  .navbar button {
    margin-left: 1em;
    padding: 0.5em 1em;
    border: none;
    border-radius: 30px;
    background: hsl(233deg 36% 38%);
    color: hsl(0 0 100);
    font-weight: 600;
    cursor: pointer;
  }
  
  .navbar button:hover {
    background: hsl(233deg 56% 48%);
  }
  