.admin-container {
    width: 100%;
    max-width: 1200px; /* Limit width to 1200px or any other max-width */
    margin: auto; /* Center the container */
    padding: 20px;
  }
  
  .stats-overview {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
  }
  
  .stat-item {
    background: #f4f4f4;
    padding: 10px 20px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 1%;
    max-width: 30vh;
  }
  
  .chart-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  