.search-fields {
    display: flex;
    flex-wrap: wrap; /* Dodajemo omotač za omogućavanje prelamanja na više redova */
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .search-fields input,
  .search-fields select {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 10px; /* Dodajemo razmak između polja */
    width: calc(50% - 5px); /* Postavljamo širinu na pola i oduzimamo 5px zbog margina */
  }
  
  .search-fields select {
    margin-bottom: 0; /* Uklanjamo dodatni razmak za select elemente */
  }
  
  .auto-table {
    margin-top: 20px;
    margin-left: 5%;
    margin-right: 5%;
  }
  
  .auto-table table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .auto-table th,
  .auto-table td {
    border: 1px solid #dee2e6;
    padding: 8px;
  }
  
  .auto-table th {
    background-color: hsl(233deg 36% 38%);
    color: #fff;
    text-align: left;
  }
  
  .auto-table tbody tr:nth-child(even) {
    background-color: #f8f9fa;
  }
  
  .auto-table tbody tr:hover {
    background-color: #e9ecef;
  }
  