.search-fields {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .search-fields input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    flex-grow: 1;
    margin-right: 10px;
  }
  
  .auto-table {
    margin-top: 20px;
    margin-left: 5%;
    margin-right: 5%;

  }
  
  .auto-table table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .auto-table th,
  .auto-table td {
    border: 1px solid #dee2e6;
    padding: 8px;
  }
  
  .auto-table th {
    background-color: hsl(233deg 36% 38%);
    color: #fff;
    text-align: left;
  }
  
  .auto-table tbody tr:nth-child(even) {
    background-color: #f8f9fa;
  }
  
  .auto-table tbody tr:hover {
    background-color: #e9ecef;
  }
  